{% extends 'base.html' %}

{% load static %}

{% block title %}
Contact
{% endblock %}

{% block header %}
    <h1>{{ post.title }}</h1>
    <h2 class="subheading">{{ post.subtitle }}</h2>
    <span class="meta">
        Posted by
        <a href="#!">Start Bootstrap</a>
        on {{ post.created_at.date }}
    </span>
{% endblock %}

<!-- This block sets the image for the url function. background: url() -->
{% block img %}
{% static 'img/post-bg.jpg' %}
{% endblock %}

{% block content %}
{% comment %} <div class="my-5">
    <form id="contactForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</div> {% endcomment %}


<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form id="contactForm" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br />
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Save</button>
                    
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}