{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block header %}
    <h1>About Me</h1>
    <h2>Syed Mehdi</h2>
    <span class="subheading">This is what I do.</span>
{% endblock %}

<!-- This block sets the image for the url function. background: url() -->
{% block img %}
{% static 'img/about-bg.jpg' %}
{% endblock %}

{% block content %}
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Hi, I'm Syed, a Computer Science graduate and an aspiring Backend Developer. I built this project to learn the Django framework. It's a blogging platform where users can post blogs and perform the usual CRUD operations. I used custom User models to create users.</p>
                    <p>You may find the design familiar, it is a blogsite design taken from Start Bootstrap. I didn't want to spend too much time trying to build the front end. It was a hassle to get this working, but it was worth it and allowed me to focus more on the core functionality and backend.</p>    
                    <p>You can find more about my projects on my GitHub <a href="https://github.com/Infamous003">@Infamous003</a></p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}