{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block img %}
{% static 'img/home-bg.jpg' %}
{% endblock %}


{% block content %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="d-flex ms-auto align-items-center justify-content-end">
                <i class="fa-solid fa-filter"></i>
                <form action="{% url 'post_list' %}" method="get">
                    <select name="filter" class="form-select ms-2" style="width: 100px" onchange="this.form.submit()">
                        <option value="" disabled selected>Sort by</option>
                        <option value="latest">Latest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                </form>
            </div>
            <!-- Post preview-->
            {% for post in posts %}
                <div class="post-preview">
                    <a href="{% url 'post_detail' post.id %}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">{{ post.author.username }}</a>
                        on {{ post.created_at.date }}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}

            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
                    <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 24, 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock %}